extends layout

block content
    link(href='/stylesheets/vendor/select2.min.css', rel='stylesheet')
    link(href='/stylesheets/vendor/select2-bootstrap.min.css', rel='stylesheet')

    main.container(role="main")
        .container.theme-showcase
            .page-header
                h3 Edit timelog
                .container
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href='/timetables/'+task_id)
                                    i.fas.fa-chevron-left
                                    |   Back to timetables
                        //ul.navbar-nav
                            li.nav-item
                                a.btn.btn-danger(href="#" onclick="alert(" + toEditLog.id + ")") Delete
                hr
            div.main.container
                .row
                    if errorMessages !== 0
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-danger(role="alert")
                                h4.alert-heading #{errorMessages}
                                p Something went wrong. Please check if your form is correct - otherwise try later or contact application administrator.

                    if success !== 0
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-success(role="alert")
                                h4.alert-heading Success.
                                p #{success}.

                    if toEditTask && toEditTask.status > 1
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-primary(role="warning")
                                h4.alert-heading Task status.
                                p This task's status is currently: #{toEditTask.status === 2 ? "accepted but not in progress" : ""}#{toEditTask.status === 3 ? " in progress" : ""}#{toEditTask.status === 4 ? " finished" : ""}.


                    div.col-md-9.col-md-offset-0.margin-center.margin-top20
                        div.panel-body
                            div
                                form.well.form-horizontal(method='POST' action=('/timetables/'+ toEditLog.id + '/edit/'))#task_form
                                    div.panel-body
                                        div.col-md-12.col-md-offset-0
                                            div.form-group
                                                h4 Task name: #{toEditTask.name}
                                            div.form-group
                                                label(for='task_description') Logged time [h]:
                                                input#logged_time.form-control(type='number' min="0" step="0.01" required="required" pattern="[0-9]{1,10}" placeholder='Enter logged time' name='loggedTime' value=(toEditLog.loggedTime.toFixed(2)) )
                                            div.form-group
                                                label(for='task_time') Task time remainig [estimate]:
                                                input#task_time.form-control(type='number' min="0" step="0.1" required="required" pattern="[0-9]{1,10}" placeholder='Task time remainig' name="timeRemaining" value=(toEditTask.time))
                                            
                                            button.btn.btn-primary.center-block.margin-top20#updateBtn(type='submit') Update




    script.

        function alert(id){
            if(confirm("Are you sure you want to delete this log entry?")){
                window.location.href = "/timetables/delete/" + id 
            }
        }